.Lists {
    position: relative;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    width: 80%;
    font-size: 3rem;
    color: #3E92A3;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 5px 5px 20px #919191;
    font-family: "Julius Sans One", sans-serif;
};